@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}


/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial ,Verdana,Helvetica,sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android:'Android', cursive;
}
*{
    margin:0px;
    padding:0px;
}
body{
    background-color:#E9E6C3;
    font-family:var(--fonte-padrao);
}
.link::after{
    content:'\00A0\1F517'
}
div.video{
    margin-bottom:30px;
    background-color:#063d1e;
    margin-right:-20px;
    margin-left: -20px;
    padding:20px;
    position:relative;
    padding-bottom:56%;
}
div.video >iframe{
    position:absolute;
    top:5%;
    left:5%;
    height:90%;
    width:90%;
}
main p{
        text-align:justify;
        margin:15px 0px;
        text-indent:25px;
        font-size:1em;
        line-height:2em;
}
main strong{
    color:var(--cor4);
    font-weight: bold;
}
main a{
    background-color:var(--cor1);
    color:var(--cor5);
    padding:2px 6px;
    font-weight:bold;
    text-decoration:none;
}
main a:hover{
    text-decoration:underline;
    transition-duration: 0.5s;
    background-color:var(--cor2);
    color:var(--cor4);
    font-size:1.1em;
}
header{
    background-color:var(--cor4);
    min-height:150px;
    padding:40px;
    text-align:center;
    background-image:linear-gradient(to bottom ,var(--cor3),var(--cor5));
    
}
header > h1{
    color: white;
    font-family:var(--fonte-destaque);   
    margin-bottom:20px;
    font-size:3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
    font-weight:normal;
   
}
header > p{
    color:white;
    font-size:1.2em;
    font-family:var(--fonte-padrao);
    max-width:500px;
    margin:auto;
    padding-right:10px;
    padding-left:10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
    padding-bottom:20px;
}
nav{
    background-color:var(--cor5);
    padding:10px;
    box-shadow:0px 7px 7px rgba(0, 0, 0, 0.315)
}
nav > a{
    padding:10px;
    color:var(--cor1);
    text-decoration:none;
    font-weight:bold;
}
nav >a:hover{
    background-color:var(--cor2);
    border-radius:4px;
    color:var(--cor4);
    transition-duration:0.6s;
}
main{
    background-color:white;
    min-width:320px;
    max-width:1000px;
    padding:20px;
    
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.486);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    margin:auto;
}
main img{
    width:100%;
}
main h1{
    color: var(--cor5);
    font-family:var(--fonte-android);
    font-weight:normal;
    font-size:1.7em;
}
.pq{
    margin:auto;
    display:block;
    max-width:350px;
}

main h2{
    font-family:var(--fonte-android);
    color:var(--cor4);
    font-size:1.3em;
    background-image:linear-gradient(to right ,var(--cor1),transparent);
    text-indent:8px;
    font-weight:normal;
}
aside{
    background-color:var(--cor1);
    padding:10px;
    border-radius:10px;
    box-shadow:3px 3px 8px rgba(0, 0, 0, 0.295);
}
aside>h3{
    background-color:var(--cor4);
    color:white;
    padding:10px;
    margin:-10px -10px 0px -10px;
    border-radius:10px 10px 0px 0px;
}

aside  >ul{
    list-style-position:inside;
    columns:2;
    list-style-type:'\2714';
}
footer{
    background-color:var(--cor5);
    color:white;
    margin-top: 30px;
    font-size:0.8em;
    text-align:center;
    padding: 5px;
}
footer a{
    color:white;
    font-weight:bolder;
    text-decoration:none;
}
footer a:hover{
    text-decoration:underline;
    color:var(--cor1);
    transition-duration:0.6s;
}